@page "/About"


<h3 class="text-center">About</h3>

<p class="blockquote">This is a simple website that runs on blazor it get the covid data from an API</p>

<p class="text-body">Source code is on Github Blddyrose <a class="oi-external-link" href="https://github.com/BloddyRose" target="_blank"></a></p>